In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Import data
path = r'C:\Users\nakarton\Downloads\NakartonDataFiles\09.01.24_Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\nakarton\\Downloads\\NakartonDataFiles\\09.01.24_Instacart Basket Analysis'

In [4]:
# Import grouped df_ords_prods_merge
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_grouped.pkl'))

In [5]:
# Import Customer data
df_cust = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [6]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
# Edit customers data column names (Wrangle data)
df_cust.rename(columns = {'user_id' : 'user_id'}, inplace = True)

In [8]:
df_cust.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [9]:
df_cust.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [10]:
df_cust.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [11]:
df_cust.rename(columns = {'STATE' : 'state'}, inplace = True)

In [12]:
df_cust.rename(columns = {'Age' : 'age'}, inplace = True)

In [13]:
df_cust.rename(columns = {'n_dependants' : 'number_dependants'}, inplace = True)

In [14]:
df_cust.rename(columns = {'fam_status' : 'family_status'}, inplace = True)

In [15]:
df_cust.head()

,user_id,first_name,surname,gender,state,age,date_joined,number_dependants,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [16]:
# Consistency check
df_cust.describe()

             user_id            age  number_dependants         income
count  206209.000000  206209.000000      206209.000000  206209.000000
mean   103105.000000      49.501646           1.499823   94632.852548
std     59527.555167      18.480962           1.118433   42473.786988
min         1.000000      18.000000           0.000000   25903.000000
25%     51553.000000      33.000000           0.000000   59874.000000
50%    103105.000000      49.000000           1.000000   93547.000000
75%    154657.000000      66.000000           3.000000  124244.000000
max    206209.000000      81.000000           3.000000  593901.000000

In [17]:
data_dict = df_cust.to_dict('index')

In [18]:
data_dict

{0: {'user_id': 26711,
  'first_name': 'Deborah',
  'surname': 'Esquivel',
  'gender': 'Female',
  'state': 'Missouri',
  'age': 48,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 165665},
 1: {'user_id': 33890,
  'first_name': 'Patricia',
  'surname': 'Hart',
  'gender': 'Female',
  'state': 'New Mexico',
  'age': 36,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 59285},
 2: {'user_id': 65803,
  'first_name': 'Kenneth',
  'surname': 'Farley',
  'gender': 'Male',
  'state': 'Idaho',
  'age': 35,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 99568},
 3: {'user_id': 125935,
  'first_name': 'Michelle',
  'surname': 'Hicks',
  'gender': 'Female',
  'state': 'Iowa',
  'age': 40,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 42049},
 4: {'user_id': 130797,
  'first_name': 'Ann',
  'surname': 'Gilmore',
  'gender': 'Female',
  'state': 'Maryland',
  'age': 26,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 40374},
 5: {'user_id': 133128,
  'first_name': 'Cynthia',
  'surname': 'Noble',
  'gender': 'Female',
  'state': 'Kentucky',
  'age': 43,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 49643},
 6: {'user_id': 152052,
  'first_name': 'Chris',
  'surname': 'Walton',
  'gender': 'Male',
  'state': 'Montana',
  'age': 20,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 61746},
 7: {'user_id': 168851,
  'first_name': 'Joseph',
  'surname': 'Hickman',
  'gender': 'Male',
  'state': 'South Carolina',
  'age': 30,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 63712},
 8: {'user_id': 69965,
  'first_name': 'Jeremy',
  'surname': 'Vang',
  'gender': 'Male',
  'state': 'Texas',
  'age': 47,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 162432},
 9: {'user_id': 82820,
  'first_name': 'Shawn',
  'surname': 'Chung',
  'gender': 'Male',
  'state': 'Virginia',
  'age': 26,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 32072},
 10: {'user_id': 26441,
  'first_name': 'Gloria',
  'surname': 'Stafford',
  'gender': 'Female',
  'state': 'Nevada',
  'age': 19,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'living with parents and siblings',
  'income': 43443},
 11: {'user_id': 33835,
  'first_name': 'Roger',
  'surname': 'Casey',
  'gender': 'Male',
  'state': 'Nebraska',
  'age': 45,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 47988},
 12: {'user_id': 75032,
  'first_name': 'Cynthia',
  'surname': 'Mcdaniel',
  'gender': 'Female',
  'state': 'Georgia',
  'age': 75,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 57835},
 13: {'user_id': 51,
  'first_name': 'Stephanie',
  'surname': 'Jensen',
  'gender': 'Female',
  'state': 'Wyoming',
  'age': 37,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 71190},
 14: {'user_id': 516,
  'first_name': 'Peter',
  'surname': 'Hunt',
  'gender': 'Male',
  'state': 'Colorado',
  'age': 51,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 146559},
 15: {'user_id': 6965,
  'first_name': 'Brandon',
  'surname': 'Mata',
  'gender': 'Male',
  'state': 'North Dakota',
  'age': 70,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'divorced/widowed',
  'income': 100091},
 16: {'user_id': 8794,
  'first_name': 'Amy',
  'surname': 'Mack',
  'gender': 'Female',
  'state': 'Nebraska',
  'age': 30,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 57096},
 17: {'user_id': 9944,
  'first_name': 'Brian',
  'surname': 'Oneill',
  'gender': 'Male',
  'state': 'Wisconsin',
  'age': 26,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 91826},
 18: {'user_id': 13313,
  'first_name': 'Victor',
  'surname': 'Moss',
  'gender': 'Male',
  'state': 'Alaska',
  'age': 31,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 91111},
 19: {'user_id': 17335,
  'first_name': 'Patrick',
  'surname': 'Fowler',
  'gender': 'Male',
  'state': 'Vermont',
  'age': 65,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 34514},
 20: {'user_id': 29864,
  'first_name': 'Randy',
  'surname': 'Mills',
  'gender': 'Male',
  'state': 'North Dakota',
  'age': 39,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 44364},
 21: {'user_id': 37744,
  'first_name': 'Wanda',
  'surname': 'Salas',
  'gender': 'Female',
  'state': 'Arkansas',
  'age': 77,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 125977},
 22: {'user_id': 50000,
  'first_name': 'Sandra',
  'surname': 'Trejo',
  'gender': 'Female',
  'state': 'Maine',
  'age': 64,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 115489},
 23: {'user_id': 55567,
  'first_name': 'Martha',
  'surname': 'Hurst',
  'gender': 'Female',
  'state': 'North Carolina',
  'age': 67,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 48645},
 24: {'user_id': 57549,
  'first_name': 'Shawn',
  'surname': 'Moore',
  'gender': 'Male',
  'state': 'Montana',
  'age': 72,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'divorced/widowed',
  'income': 135302},
 25: {'user_id': 60386,
  'first_name': 'Wayne',
  'surname': 'Woodward',
  'gender': 'Male',
  'state': 'Alaska',
  'age': 59,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 136778},
 26: {'user_id': 68032,
  'first_name': 'Charles',
  'surname': 'Stevenson',
  'gender': 'Male',
  'state': 'West Virginia',
  'age': 74,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 34992},
 27: {'user_id': 83910,
  'first_name': 'Ruth',
  'surname': 'Rice',
  'gender': 'Female',
  'state': 'Indiana',
  'age': 70,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 165147},
 28: {'user_id': 86936,
  'first_name': 'Kimberly',
  'surname': 'Monroe',
  'gender': 'Female',
  'state': 'Oregon',
  'age': 57,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 44967},
 29: {'user_id': 99199,
  'first_name': 'Kimberly',
  'surname': 'Monroe',
  'gender': 'Female',
  'state': 'Arkansas',
  'age': 80,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'divorced/widowed',
  'income': 138075},
 30: {'user_id': 100123,
  'first_name': 'Steve',
  'surname': 'Rogers',
  'gender': 'Male',
  'state': 'Florida',
  'age': 31,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 95906},
 31: {'user_id': 104359,
  'first_name': 'Carl',
  'surname': 'Benton',
  'gender': 'Male',
  'state': 'Idaho',
  'age': 66,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 104025},
 32: {'user_id': 112664,
  'first_name': 'Nicholas',
  'surname': 'Logan',
  'gender': 'Male',
  'state': 'California',
  'age': 64,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 111354},
 33: {'user_id': 113616,
  'first_name': 'Stephen',
  'surname': 'Murillo',
  'gender': 'Male',
  'state': 'Pennsylvania',
  'age': 57,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 118164},
 34: {'user_id': 117740,
  'first_name': 'Lisa',
  'surname': 'Sparks',
  'gender': 'Female',
  'state': 'Oregon',
  'age': 55,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 292759},
 35: {'user_id': 127020,
  'first_name': 'Judy',
  'surname': 'Barrett',
  'gender': 'Female',
  'state': 'Ohio',
  'age': 35,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 68933},
 36: {'user_id': 135871,
  'first_name': 'Doris',
  'surname': 'Mckee',
  'gender': 'Female',
  'state': 'Connecticut',
  'age': 80,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'divorced/widowed',
  'income': 125558},
 37: {'user_id': 139692,
  'first_name': 'Barbara',
  'surname': 'Chang',
  'gender': 'Female',
  'state': 'Arizona',
  'age': 54,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 113960},
 38: {'user_id': 149755,
  'first_name': 'Adam',
  'surname': 'Brewer',
  'gender': 'Male',
  'state': 'Louisiana',
  'age': 72,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 93903},
 39: {'user_id': 150670,
  'first_name': 'Terry',
  'surname': 'Wilkerson',
  'gender': 'Male',
  'state': 'Iowa',
  'age': 55,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 166288},
 40: {'user_id': 155598,
  'first_name': 'Marie',
  'surname': 'Beard',
  'gender': 'Female',
  'state': 'Washington',
  'age': 73,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 168998},
 41: {'user_id': 159323,
  'first_name': 'Rebecca',
  'surname': 'Tran',
  'gender': 'Female',
  'state': 'Wisconsin',
  'age': 75,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 113641},
 42: {'user_id': 165553,
  'first_name': 'Lillian',
  'surname': 'Schaefer',
  'gender': 'Female',
  'state': 'Connecticut',
  'age': 71,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 169397},
 43: {'user_id': 166899,
  'first_name': 'Kathryn',
  'surname': 'Guerrero',
  'gender': 'Female',
  'state': 'New York',
  'age': 56,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 64599},
 44: {'user_id': 168047,
  'first_name': 'Shirley',
  'surname': 'Harrison',
  'gender': 'Female',
  'state': 'Alaska',
  'age': 37,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 73158},
 45: {'user_id': 180190,
  'first_name': 'Douglas',
  'surname': 'Hebert',
  'gender': 'Male',
  'state': 'Connecticut',
  'age': 30,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 60248},
 46: {'user_id': 180333,
  'first_name': 'Christopher',
  'surname': 'Munoz',
  'gender': 'Male',
  'state': 'Washington',
  'age': 80,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 48411},
 47: {'user_id': 195665,
  'first_name': 'Brandon',
  'surname': 'Mckinney',
  'gender': 'Male',
  'state': 'North Dakota',
  'age': 57,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 158582},
 48: {'user_id': 197419,
  'first_name': 'Craig',
  'surname': 'Clark',
  'gender': 'Male',
  'state': 'West Virginia',
  'age': 36,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 94979},
 49: {'user_id': 201111,
  'first_name': 'Jimmy',
  'surname': 'Cobb',
  'gender': 'Male',
  'state': 'Kentucky',
  'age': 53,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 52416},
 50: {'user_id': 81446,
  'first_name': 'Henry',
  'surname': 'Kemp',
  'gender': 'Male',
  'state': 'Wisconsin',
  'age': 56,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 143641},
 51: {'user_id': 19658,
  'first_name': 'Sara',
  'surname': 'Diaz',
  'gender': 'Female',
  'state': 'Nevada',
  'age': 50,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 143086},
 52: {'user_id': 69366,
  'first_name': 'Carlos',
  'surname': 'Eaton',
  'gender': 'Male',
  'state': 'Colorado',
  'age': 30,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 99478},
 53: {'user_id': 76659,
  'first_name': nan,
  'surname': 'Gilbert',
  'gender': 'Male',
  'state': 'Colorado',
  'age': 26,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 41709},
 54: {'user_id': 159514,
  'first_name': 'Jonathan',
  'surname': 'Andersen',
  'gender': 'Male',
  'state': 'Mississippi',
  'age': 24,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 76100},
 55: {'user_id': 54950,
  'first_name': 'Steve',
  'surname': 'Tanner',
  'gender': 'Male',
  'state': 'Nevada',
  'age': 66,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'divorced/widowed',
  'income': 138170},
 56: {'user_id': 172673,
  'first_name': 'Bonnie',
  'surname': 'Raymond',
  'gender': 'Female',
  'state': 'Missouri',
  'age': 40,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 82200},
 57: {'user_id': 19666,
  'first_name': 'Julie',
  'surname': 'Ellison',
  'gender': 'Female',
  'state': 'Oklahoma',
  'age': 27,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 70247},
 58: {'user_id': 23357,
  'first_name': 'Marie',
  'surname': 'Keller',
  'gender': 'Female',
  'state': 'Wisconsin',
  'age': 27,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 86224},
 59: {'user_id': 31590,
  'first_name': 'Beverly',
  'surname': 'Sanford',
  'gender': 'Female',
  'state': 'Montana',
  'age': 46,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 154076},
 60: {'user_id': 76694,
  'first_name': 'Laura',
  'surname': 'Rios',
  'gender': 'Female',
  'state': 'South Carolina',
  'age': 40,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 88372},
 61: {'user_id': 153147,
  'first_name': 'Frank',
  'surname': 'Howell',
  'gender': 'Male',
  'state': 'Utah',
  'age': 48,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 128416},
 62: {'user_id': 5763,
  'first_name': 'Jeremy',
  'surname': 'Bennett',
  'gender': 'Male',
  'state': 'Wyoming',
  'age': 31,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 30081},
 63: {'user_id': 22641,
  'first_name': 'James',
  'surname': 'Hunter',
  'gender': 'Male',
  'state': 'Washington',
  'age': 77,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'divorced/widowed',
  'income': 51258},
 64: {'user_id': 58111,
  'first_name': 'Michelle',
  'surname': 'Hayes',
  'gender': 'Female',
  'state': 'Nebraska',
  'age': 20,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'living with parents and siblings',
  'income': 45285},
 65: {'user_id': 73344,
  'first_name': 'Brenda',
  'surname': 'Bernal',
  'gender': 'Female',
  'state': 'Colorado',
  'age': 43,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 98219},
 66: {'user_id': 160051,
  'first_name': 'Stephen',
  'surname': 'Murillo',
  'gender': 'Male',
  'state': 'Idaho',
  'age': 45,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 139281},
 67: {'user_id': 27668,
  'first_name': 'Ashley',
  'surname': 'Romero',
  'gender': 'Female',
  'state': 'New Mexico',
  'age': 61,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 101192},
 68: {'user_id': 85245,
  'first_name': 'Bruce',
  'surname': 'Mcpherson',
  'gender': 'Male',
  'state': 'New Hampshire',
  'age': 25,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 74788},
 69: {'user_id': 96515,
  'first_name': 'Todd',
  'surname': 'Richards',
  'gender': 'Male',
  'state': 'Nevada',
  'age': 32,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 40485},
 70: {'user_id': 133871,
  'first_name': 'Ralph',
  'surname': 'Randall',
  'gender': 'Male',
  'state': 'Virginia',
  'age': 28,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 88984},
 71: {'user_id': 163800,
  'first_name': 'Keith',
  'surname': 'Frederick',
  'gender': 'Male',
  'state': 'Pennsylvania',
  'age': 58,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 160461},
 72: {'user_id': 11244,
  'first_name': 'Johnny',
  'surname': 'Cochran',
  'gender': 'Male',
  'state': 'New Hampshire',
  'age': 24,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 61903},
 73: {'user_id': 13738,
  'first_name': nan,
  'surname': 'Frost',
  'gender': 'Female',
  'state': 'Louisiana',
  'age': 39,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'single',
  'income': 82518},
 74: {'user_id': 14083,
  'first_name': 'Irene',
  'surname': 'Holmes',
  'gender': 'Female',
  'state': 'Connecticut',
  'age': 80,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 166726},
 75: {'user_id': 26595,
  'first_name': 'Annie',
  'surname': 'Mendoza',
  'gender': 'Female',
  'state': 'New Hampshire',
  'age': 33,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 54044},
 76: {'user_id': 26787,
  'first_name': 'Henry',
  'surname': 'Ford',
  'gender': 'Male',
  'state': 'Hawaii',
  'age': 48,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 110601},
 77: {'user_id': 29024,
  'first_name': 'Carolyn',
  'surname': 'Enriquez',
  'gender': 'Female',
  'state': 'California',
  'age': 36,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 58375},
 78: {'user_id': 55942,
  'first_name': 'Gerald',
  'surname': 'Watson',
  'gender': 'Male',
  'state': 'Vermont',
  'age': 64,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'divorced/widowed',
  'income': 148705},
 79: {'user_id': 64741,
  'first_name': 'Annie',
  'surname': 'Mendoza',
  'gender': 'Female',
  'state': 'Nebraska',
  'age': 34,
  'date_joined': '1/1/2017',
  'number_dependants': 1,
  'family_status': 'married',
  'income': 95592},
 80: {'user_id': 78654,
  'first_name': 'Christina',
  'surname': 'Walker',
  'gender': 'Female',
  'state': 'Hawaii',
  'age': 60,
  'date_joined': '1/1/2017',
  'number_dependants': 0,
  'family_status': 'divorced/widowed',
  'income': 96010},
 81: {'user_id': 88801,
  'first_name': 'Irene',
  'surname': 'Reyes',
  'gender': 'Female',
  'state': 'Florida',
  'age': 80,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 150156},
 82: {'user_id': 89996,
  'first_name': nan,
  'surname': 'Dawson',
  'gender': 'Female',
  'state': 'Oregon',
  'age': 52,
  'date_joined': '1/1/2017',
  'number_dependants': 3,
  'family_status': 'married',
  'income': 117099},
 83: {'user_id': 119571,
  'first_name': 'Matthew',
  'surname': 'Chan',
  'gender': 'Male',
  'state': 'New York',
  'age': 58,
  'date_joined': '1/1/2017',
  'number_dependants': 2,
  'family_status': 'married',
  'income': 98633},
 84: {'user_id': 131752,
  'first_name': 'Doris',
  'surname': 'Richmond',

In [19]:
# Finding missing values
df_cust.isnull().sum()

user_id                  0
first_name           11259
surname                  0
gender                   0
state                    0
age                      0
date_joined              0
number_dependants        0
family_status            0
income                   0
dtype: int64

In [20]:
df_nan = df_cust[df_cust['first_name'].isnull() == True]

In [21]:
df_nan

,user_id,first_name,surname,gender,state,age,date_joined,number_dependants,family_status,income
53,76659,NaN,Gilbert,Male,Colorado,26,1/1/2017,2,married,41709
73,13738,NaN,Frost,Female,Louisiana,39,1/1/2017,0,single,82518
82,89996,NaN,Dawson,Female,Oregon,52,1/1/2017,3,married,117099
99,96166,NaN,Oconnor,Male,Oklahoma,51,1/1/2017,1,married,155673
105,29778,NaN,Dawson,Female,Utah,63,1/1/2017,3,married,151819
...,...,...,...,...,...,...,...,...,...,...
206038,121317,NaN,Melton,Male,Pennsylvania,28,3/31/2020,3,married,87783
206044,200799,NaN,Copeland,Female,Hawaii,52,4/1/2020,2,married,108488
206090,167394,NaN,Frost,Female,Hawaii,61,4/1/2020,1,married,45275
206162,187532,NaN,Floyd,Female,California,39,4/1/2020,0,single,56325
206171,116898,NaN,Delgado,Female,Colorado,23,4/1/2020,2,married,59222

In [22]:
df_cust['first_name'].value_counts (dropna = False)

first_name
NaN        11259
Marilyn     2213
Barbara     2154
Todd        2113
Jeremy      2104
           ...
Merry        197
Eugene       197
Garry        191
Ned          186
David        186
Name: count, Length: 208, dtype: int64

In [23]:
# Addressing missing values
df_cust['first_name'].fillna('Unknown', inplace = True)

In [24]:
# df_cust clean
df_cust_clean = df_cust[df_cust['first_name'].isnull() == False]

In [25]:
df_cust_clean.shape

(206209, 10)

In [26]:
# df_cust duplicate
df_dups = df_cust_clean[df_cust_clean.duplicated()]

In [27]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_dependants, family_status, income]
Index: []

In [28]:
# Dropping duplcates
df_cust_clean_no_dups = df_cust_clean.drop_duplicates()

In [29]:
df_cust_clean_no_dups

,user_id,first_name,surname,gender,state,age,date_joined,number_dependants,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

In [30]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            206209 non-null  int64
 1   first_name         206209 non-null  object
 2   surname            206209 non-null  object
 3   gender             206209 non-null  object
 4   state              206209 non-null  object
 5   age                206209 non-null  int64
 6   date_joined        206209 non-null  object
 7   number_dependants  206209 non-null  int64
 8   family_status      206209 non-null  object
 9   income             206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [31]:
df_cust.shape

(206209, 10)

In [32]:
df_ords_prods_merge.shape

(32404859, 25)

In [33]:
# Drop the _merge column from the df_ords_prods_merge 
df_ords_prods_merge = df_ords_prods_merge.drop(columns = ['_merge'])

In [34]:
# Merge dataframe
df_ords_prods_cust = df_ords_prods_merge.merge(df_cust, on = 'user_id', indicator = True)

MemoryError: Unable to allocate 2.90 GiB for an array with shape (12, 32404859) and data type int64